.header{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;

  .header_container{
    display: flex;
    justify-content: space-between;
    min-height: 85px;
    align-items: center;

    .logo-link{
      font-size: 32px;
      color: #01996D;
      font-weight: 600;
      margin: 0 30px 0 0;
    }
    .menu{
      padding: 5px 0;
    }
    .header-menu{



      .menu-list{
        display: flex;
        flex-wrap: wrap;

        .menu-item{
          margin: 0 60px 0 0;
          font-size: 16px;

          .menu-link{
            color: #292929;
            line-height: calc(24 / 14 * 100%);

          }
        }
      }
    }
    .header-logForm{


      .logForm-btn{
        width: 120px;
        height: 35px;
        background-color: #01996D;

        .logForm-btn-link{
          color: white;
          font-size: 16px;

        }
      }
      .regForm-btn{
        width: 120px;
        height: 35px;
        background-color: inherit;
        border: 1px solid black;

        .regForm-btn-link{
          color: #292929;
          font-size: 16px;
        }
      }
    }
  }
}
@media (max-width: 587px) {
  .menu-link{
    font-size: 18px;
    padding: 0 0 5px 0;
  }
}
@media (max-width: 587px) {
  .header_container{
    min-height: 70px;
  }
}