.wrapper{


  .header{

    .container{
      width: 80vw;
      margin: 0 auto;
      .header-line-position{
        display: block;
        box-sizing: border-box;
        left: 0;
        width: 100%;
        height: 100px;
        z-index: 505;
      }

      .header-line{
        position: relative;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;



        .header-logo{




          .logo{

            .logo-link{
              font-size: 30px;
              color: #01996D;
              font-weight: 600;
            }
          }

        }

        .header-nav{
          display: flex;


          .header-nav-item{
            margin: 0 30px;

            .header-nav-item-link{
              font-size: 16px;
              color: black;

            } &:hover{
                text-decoration: underline;
                          }
          }
        }

        .header-log-reg{
          display: flex;


          .header-log{
            width: 165px;
            height: 42px;

            .log-btn{
              background-color: black;
              width: 150px;
              height: 35px;
              &:hover {
                width: 155px;
                height: 38px;
              }


              .log-btn-link{
                font-size: 16px;
                color: white;

              }
            }
          }
          .header-reg{
            width: 165px;
            height: 42px;


            .reg-btn{
              background-color: #01996D;
              width: 150px;
              height: 35px;
              &:hover {
                width: 155px;
                height: 38px;
              }

              .reg-btn-link{
                font-size: 16px;
                color: black;
              }
            }
          }
        }
      }
    }
  }
}