@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;800&display=swap");
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}
.header .header_container {
  display: flex;
  justify-content: space-between;
  min-height: 85px;
  align-items: center;
}
.header .header_container .logo-link {
  font-size: 32px;
  color: #01996D;
  font-weight: 600;
  margin: 0 30px 0 0;
}
.header .header_container .menu {
  padding: 5px 0;
}
.header .header_container .header-menu .menu-list {
  display: flex;
  flex-wrap: wrap;
}
.header .header_container .header-menu .menu-list .menu-item {
  margin: 0 60px 0 0;
  font-size: 16px;
}
.header .header_container .header-menu .menu-list .menu-item .menu-link {
  color: #292929;
  line-height: 171.4285714286%;
}
.header .header_container .header-logForm .logForm-btn {
  width: 130px;
  height: 40px;
  background-color: #01996D;
}
.header .header_container .header-logForm .logForm-btn .logForm-btn-link {
  color: white;
  font-size: 16px;
}
.header .header_container .header-logForm .regForm-btn {
  width: 130px;
  height: 40px;
  background-color: inherit;
  border: 1px solid black;
}
.header .header_container .header-logForm .regForm-btn .regForm-btn-link {
  color: #292929;
  font-size: 16px;
}

@media (max-width: 587px) {
  .menu-link {
    font-size: 18px;
    padding: 0 0 5px 0;
  }
}
@media (max-width: 587px) {
  .header_container {
    min-height: 70px;
  }
}
.page {
  flex: 1 1 auto;
}
.page .main-block {
  position: relative;
}
.page .main-block .main-block-container .main-block-tdb {
  padding: 400px 0 200px 0;
  position: relative;
  z-index: 2;
  max-width: 400px;
}
.page .main-block .main-block-container .main-block-tdb > *:not(:last-child) {
  margin: 0 0 20px 0;
}
.page .main-block .main-block-container .main-block-tdb .block-tdb-title {
  font-size: 40px;
  line-height: 90%;
  color: #01996D;
  font-weight: 600;
  font-family: Georgia, sans-serif;
}
.page .main-block .main-block-container .main-block-tdb .block-tdb-description {
  font-size: 16px;
  line-height: 125%;
}
.page .main-block .main-block-container .main-block-tdb .block-tdb-button {
  width: 130px;
  height: 40px;
  background-color: #01996D;
}
.page .main-block .main-block-container .main-block-tdb .block-tdb-button .block-tdb-button-link {
  color: white;
}
.page .main-block .main-background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.page .info-block .info-block-container {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page .info-block .info-block-container .info-block-title .info-block-title_question {
  font-size: 16px;
  color: #292929;
  line-height: 125%;
}
.page .info-block .info-block-container .info-block-title .info-block-title_title {
  font-size: 36px;
  line-height: 100%;
  color: #01996D;
  font-weight: 600;
  font-family: Georgia, sans-serif;
}
.page .info-block .info-block-container .info-block-description {
  font-size: 16px;
  letter-spacing: 0.2px;
  margin: 15px 0 0 0;
  line-height: 125%;
}
.page .article-block-page {
  position: relative;
}
.page .article-block-page .article-block-container .article-block-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
}
.page .article-block-page .article-block-container .article-block-wrapper .article-block {
  flex-wrap: wrap;
}
.page .article-block-page .article-block-container .article-block-wrapper .article-block .article-number-wrapper .article-number {
  font-size: 130px;
  color: #01996D;
  font-family: Georgia, sans-serif;
  opacity: 0.5;
}
.page .article-block-page .article-block-container .article-block-wrapper .article-block .article-name {
  font-size: 40px;
  font-weight: 500;
  padding: 0 0 20px 0;
}
.page .article-block-page .article-block-container .article-block-wrapper .article-block .article-text {
  font-size: 16px;
  line-height: 125%;
}
.page .article-block-page .article-block-container .article-block-wrapper .article-block .article-image img {
  max-width: 390px;
  max-height: 485px;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  color: #292929;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

@media (max-width: 565px) {
  .main-background-image {
    opacity: 0.9;
    color: black;
  }
  .menu-list {
    margin-top: 20px;
  }
  .info-block-title {
    max-height: 400px;
    padding: 0 10px 0 0;
  }
  .info-block-description {
    max-height: 400px;
    font-size: 22px;
  }
}
._img img {
  border-radius: 10px;
}

@media (max-width: 1150px) {
  .info-block-title {
    padding: 0 15px 0 0;
  }
}

/*# sourceMappingURL=styles.css.map */
