@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;800&display=swap");
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}
.header .header_container {
  display: flex;
  justify-content: space-between;
  min-height: 85px;
  align-items: center;
}
.header .header_container .logo-link {
  font-size: 32px;
  color: #01996D;
  font-weight: 600;
}
.header .header_container .menu {
  padding: 5px 0;
}
.header .header_container .header-menu .menu-list {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}
.header .header_container .header-menu .menu-list .menu-item {
  padding: 0 60px 0 0;
  font-size: 16px;
}
.header .header_container .header-menu .menu-list .menu-item .menu-link {
  color: #292929;
  line-height: 171.4285714286%;
}
.header .header_container .header-logForm {
  display: flex;
  flex-wrap: wrap;
}
.header .header_container .header-logForm .logForm-btn {
  width: 120px;
  height: 35px;
  background-color: #01996D;
}
.header .header_container .header-logForm .logForm-btn .logForm-btn-link {
  color: white;
  font-size: 16px;
}
.header .header_container .header-logForm .regForm-btn {
  margin: 0 0 0 5px;
  width: 120px;
  height: 35px;
  background-color: inherit;
  border: 1px solid black;
}
.header .header_container .header-logForm .regForm-btn .regForm-btn-link {
  color: #292929;
  font-size: 16px;
}

@media (max-width: 587px) {
  .menu-link {
    font-size: 18px;
    padding: 0 0 5px 0;
  }
}
@media (max-width: 587px) {
  .header_container {
    min-height: 70px;
  }
}
.page {
  flex: 1 1 auto;
}
.page .main-block {
  position: relative;
}
.page .main-block .main-block-container .main-block-tdb {
  padding: 400px 0 200px 0;
  position: relative;
  z-index: 2;
  max-width: 400px;
}
.page .main-block .main-block-container .main-block-tdb > *:not(:last-child) {
  margin: 0 0 20px 0;
}
.page .main-block .main-block-container .main-block-tdb .block-tdb-title {
  font-size: 36px;
  line-height: 90%;
  color: #01996D;
  font-weight: 600;
  font-family: Georgia, sans-serif;
}
.page .main-block .main-block-container .main-block-tdb .block-tdb-description {
  font-size: 16px;
  line-height: 187.5%;
}
.page .main-block .main-block-container .main-block-tdb .block-tdb-button {
  width: 130px;
  height: 40px;
  background-color: #01996D;
}
.page .main-block .main-block-container .main-block-tdb .block-tdb-button .block-tdb-button-link {
  color: white;
  font-size: 14px;
}
.page .main-block .main-background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.page .info-block {
  padding: 100px 0 20px 0;
}
.page .info-block .info-block-container {
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page .info-block .info-block-container .info-block-title .info-block-title_question {
  font-size: 16px;
  color: #292929;
  line-height: 125%;
}
.page .info-block .info-block-container .info-block-title .info-block-title_title {
  font-size: 36px;
  line-height: 111.1111111111%;
  color: #01996D;
  font-weight: 600;
  font-family: Georgia, sans-serif;
}
.page .info-block .info-block-container .info-block-description {
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 15px 0 0 0;
  line-height: 187.5%;
  font-style: italic;
}
.page .article-block-page {
  position: relative;
  min-height: 600px;
}
.page .article-block-page .article-block-container .article-block-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.page .article-block-page .article-block-container .article-block-wrapper .article-block .article-number-wrapper {
  position: relative;
}
.page .article-block-page .article-block-container .article-block-wrapper .article-block .article-number-wrapper .article-number {
  position: absolute;
  bottom: -40px;
  left: 50px;
  font-size: 110px;
  color: #01996D;
  font-family: Georgia, sans-serif;
  opacity: 0.5;
}
.page .article-block-page .article-block-container .article-block-wrapper .article-block .article-number-wrapper .article-first-number {
  position: absolute;
  bottom: -40px;
  left: 100px;
}
.page .article-block-page .article-block-container .article-block-wrapper .article-block .article-number-wrapper .article-second-number {
  position: absolute;
  bottom: -30px;
  left: 60px;
}
.page .article-block-page .article-block-container .article-block-wrapper .article-block .article-name {
  font-size: 30px;
  font-weight: 500;
  padding: 0 0 20px 0;
}
.page .article-block-page .article-block-container .article-block-wrapper .article-block .article-text {
  font-size: 16px;
  line-height: 187.5%;
  padding: 0 0 25px 0;
  letter-spacing: 0.5px;
}
.page .article-block-page .article-block-container .article-block-wrapper .article-block .article-image img {
  max-width: 350px;
  max-height: 450px;
}
.page .article-block-page .article-block-container .article-block-wrapper .article-block-two {
  padding-top: 200px;
}
.page .introduction-block {
  background-color: #245852;
  margin: 100px 0 0 0;
  padding: 50px 0;
}
.page .introduction-block .introduction-block-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}
.page .introduction-block .introduction-block-container .introduction-block-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.page .introduction-block .introduction-block-container .introduction-block-info > *:not(:last-child) {
  padding: 0 0 30px 0;
}
.page .introduction-block .introduction-block-container .introduction-block-info .introduction-info_title {
  font-family: Georgia, sans-serif;
  font-size: 36px;
  color: white;
  line-height: 111.1111111111%;
  font-weight: 600;
}
.page .introduction-block .introduction-block-container .introduction-block-info .introduction-info_description {
  font-size: 16px;
  color: white;
  letter-spacing: 0.5px;
}
.page .introduction-block .introduction-block-container .introduction-block-info .introduction-info_button {
  background-color: #01996D;
  width: 130px;
  height: 40px;
  text-align: center;
}
.page .introduction-block .introduction-block-container .introduction-block-info .introduction-info_button .introduction-info_link {
  color: white;
  margin: 0 auto;
  font-size: 14px;
}
.page .introduction-block .introduction-block-container .introduction-block-video {
  position: relative;
}
.page .introduction-block .introduction-block-container .introduction-block-video .video {
  height: 400px;
  max-width: 700px;
}
.page .product-info {
  padding: 70px 0;
}
.page .product-info .product-block-container {
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.page .product-info .product-block-container .product-info-imageBlock {
  position: relative;
  max-width: 500px;
  max-height: 700px;
}
.page .product-info .product-block-container .product-info-imageBlock .product-info-imageGirl {
  background-color: rgba(4, 91, 46, 0.4);
  position: relative;
  min-width: 500px;
  height: 500px;
  border-radius: 10px;
}
.page .product-info .product-block-container .product-info-imageBlock .product-info-imageGirl .girl {
  position: absolute;
  bottom: 0px;
}
.page .product-info .product-block-container .product-info-imageBlock .product-info-imageGirl .product-info-card {
  border-radius: 10px;
  box-shadow: 1px 1px 50px 5px;
  padding: 20px;
  top: 320px;
  right: 290px;
  position: absolute;
  z-index: 5;
  min-height: 250px;
  max-height: 280px;
  background-color: white;
  min-width: 270px;
  max-width: 500px;
  text-align: center;
}
.page .product-info .product-block-container .product-info-imageBlock .product-info-imageGirl .product-info-card > *:not(:last-child) {
  padding: 0 0 20px 0;
}
.page .product-info .product-block-container .product-info-imageBlock .product-info-imageGirl .product-info-card .info-card-title {
  font-size: 14px;
  text-transform: uppercase;
}
.page .product-info .product-block-container .product-info-imageBlock .product-info-imageGirl .product-info-card .info-card-logo {
  width: 50px;
  height: 65px;
}
.page .product-info .product-block-container .product-info-imageBlock .product-info-imageGirl .product-info-card .info-card-name {
  font-size: 14px;
  font-weight: 100;
}
.page .product-info .product-block-container .product-info-imageBlock .product-info-imageGirl .product-info-card .info-card-services {
  font-weight: 600;
}
.page .product-info .product-block-container .product-info-imageBlock .product-info-imageGirl .product-info-card .info-card-services .info-card-services_item {
  font-weight: 400;
  margin: 30px 0;
}
.page .product-info .product-block-container .product-info-descriptionBlock .descriptionBlock-about {
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.page .product-info .product-block-container .product-info-descriptionBlock .descriptionBlock-title {
  font-size: 36px;
  line-height: 111.1111111111%;
  font-family: Georgia, sans-serif;
  color: #01996D;
  font-weight: 600;
}
.page .product-info .product-block-container .product-info-descriptionBlock .descriptionBlock-description {
  font-size: 16px;
  color: #292929;
  letter-spacing: 0.5px;
  line-height: 187.5%;
}
.page .product-info .product-block-container .product-info-descriptionBlock .descriptionBlock-button {
  width: 130px;
  height: 40px;
  background-color: #01996D;
  padding: 10px;
}
.page .product-info .product-block-container .product-info-descriptionBlock .descriptionBlock-button .descriptionBlock-button-link {
  font-size: 14px;
  color: white;
}

.footer {
  background-color: #245852;
  padding: 30px;
}
.footer .footer-block {
  min-height: 200px;
}
.footer .footer-block .footer-block-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.footer .footer-block .footer-block-container .footer-block-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .footer-block .footer-block-container .footer-block-links > *:not(:last-child) {
  padding: 0 0 50px 0;
}
.footer .footer-block .footer-block-container .footer-block-links .footer-block-links-logo {
  font-size: 32px;
  color: white;
  font-weight: 600;
}
.footer .footer-block .footer-block-container .footer-block-links .footer-block-links-link {
  font-size: 16px;
  color: white;
}
.footer .footer-block .footer-block-container .footer-block-forms {
  min-width: 400px;
  min-height: 100px;
}
.footer .footer-block .footer-block-container .footer-block-forms .footer-block-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 50px 0 0 0;
}
.footer .footer-block .footer-block-container .footer-block-forms .footer-block-form .label {
  color: white;
  padding: 0 20px 0 0;
}
.footer .footer-block .footer-block-container .footer-block-forms .footer-block-form .input-form {
  width: 170px;
  height: 30px;
  padding: 10px;
  display: block;
  margin: 0 15px 0 0;
}
.footer .footer-block .footer-block-container .footer-block-forms .footer-block-form .submit {
  width: 100px;
  height: 32px;
  display: block;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0);
}
.footer .footer-block .footer-block-container .footer-block-forms .footer-block-form .submit:hover {
  border-color: white;
  color: white;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  color: #292929;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

@media (max-width: 565px) {
  .main-background-image {
    opacity: 0.9;
    color: black;
  }
  .menu-list {
    margin-top: 20px;
  }
  .info-block-title {
    max-height: 400px;
    padding: 0 10px 0 0;
  }
  .info-block-description {
    max-height: 400px;
    font-size: 22px;
  }
}
._img img {
  border-radius: 10px;
}

@media (max-width: 1150px) {
  .info-block-title {
    padding: 0 15px 0 0;
  }
}
@media (max-width: 1116px) {
  .introduction-block-video {
    padding: 0 0 15px 0;
  }
  .introduction-block-info {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }
  .introduction-block-info .introduction-info_button {
    margin: 0 auto;
  }
}
.article-first-number {
  position: absolute;
}

@media (max-width: 1085px) {
  .article-block-three {
    margin: 0 auto;
    padding: 50px 0 0 0;
  }
  .introduction-block-video img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 988px) {
  .logForm-btn {
    margin: 0 0 0 5px;
  }
}
@media (max-width: 735px) {
  .article-block-wrapper {
    margin: 0 auto;
  }
  .article-block-one {
    padding: 10px 0 0 0;
  }
  .article-block-two {
    margin: -140px 0 0 0;
  }
  .article-block-three {
    margin: 0;
  }
}
@media (max-width: 440px) {
  .header-logForm {
    width: 100px;
    height: 30px;
    margin: -50px 0 0 0;
  }
}

/*# sourceMappingURL=styles.css.map */
